#form {
    width: 100%;
    text-align: left;
    background-color:#80ADA0;
    margin-top: 30px;
    margin-bottom: 15px;
}

form {
    input, textarea{
        width: 100%;
        border-radius: 15px;
    }
}