/*footer*/
#main-footer {
    color: white;
    background-color: #33202A;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    height: fit-content;
    align-self: end;
    padding: 40px 0 20px 0;
    grid-row-gap: 20px;

    @media screen and (min-width: 1024px) {
        grid-template-columns: 1fr 1fr 1fr;

    }
}

.h4 {
    font-size: 20px;
}

.footer1 {
    a {
        align-self: center;
        justify-self: center;
        color: white;
        text-decoration: none;
    }
}

.footer2 {
    display: grid;
    grid-template-columns: 1fr;
    align-items: left;

    a {
        align-self: center;
        justify-self: center;
        color: white;
        text-decoration: none;
    }

}

.footer3 {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    align-content: center;
    color: white;

    @media screen and (min-width: 1025px) {
        display: none;
    }

}

.footer4 {
    display: none;

    @media screen and (min-width: 1025px) {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        align-content: center;
        color: white;
    }

}