@import './generales';
@import './header';
@import './footer';

/*section-index*/
.section-index__fondo-celeste {
    background-color: #80ADC1;
    border-radius: 10px;
}

#section-index__section-index {
    display: grid;
    padding: 15px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat (12, 1fr);
}
