section {
    display: block;
}

.indexpadre__cards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    gap: 15px;
    align-items: center;

    @media screen and (min-width: $tabletYdesktop) {
        display: grid;
        grid-template-columns: repeat(3, 2fr);
        grid-template-rows: 1fr;
        gap: 15px;
        place-items: center;
        margin: auto;
    }
}

.card {
    background-color: $color-secundario;
    color: $color-terciario;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0);
    width: 250px;
    max-width: 100%;
    padding: 16px;
    text-align: center;

    h4 {
        color: $color-terciario;
        padding-top: 5px;
    }

    button {
        border: none;
        padding: 8px 15px;
        background-color: $color-primario;
        color: $color-terciario;
        cursor: pointer;
        border-radius: 20px;

        a {
            color: $color-terciario;
            text-decoration: none;
        }

        p {
            margin-top: 10px;
        }
    }

    img {
        height: 0%;
    }
}

.index__info {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 50px;

    div {
        padding: 5px;
        border: $color-primario;

    }

    h4 {
        text-align: left;
        border: $color-primario;
        padding: 8px 10px;
        background-color: $color-primario;
        color: $color-terciario;
        border-radius: 10px;
        width: fit-content;

    }

    p {
        text-align: justify;

    }
}

.mas {
    font-size: 14px;
    position: absolute;
    top: 10px;
    left: 78%;
    width: 115px;
    background-color: $color-primario;
}

.ul__list {
    padding: 0;
}