/*MAS INFO*/
#ambiente-masinfo {
    margin-top: 50px;
}

.carousel-item{
    border:2px solid black;
    border-radius: 10px;
  }
  
.wrapper-card{
    width: 100%;
    height: fit-content;
    background-color: #80ADA0;
    border-radius: 10px;
    display:grid;
    grid-template-rows:250px;
    grid-row-gap:1rem;
    position: relative;
        @media screen and (min-width: 1025px) {
            width:450px;
            height: 500px;
            background-color: #80ADA0;
            border-radius: 10px;
            display:grid;
            grid-template-rows:250px;
            grid-row-gap:1rem;
            position: relative;
        }
        span{
        position: absolute;
        top:8px;
        padding: 5px 10px;
        right:-10px;
        background:gainsboro;
        border:1px solid #333;
        border-radius: 6px;
        }
        img{
        border-top-left-radius:10px;
        border-top-right-radius:10px;
        object-fit: fill;
        height: 250px;
        width: 450px !important;
        }
}

.info-wrapper{
    display: grid;
    padding:5px 20px;
    button {
    border:none;
    background:dodgerblue;
    border-radius: 5px;
    padding:10px 16px;
    font-weight: 600;
        p{
        margin: 0;
        }
    }
}

.section-masinfo {
    padding: 30px;
    text-align: center;
    @media screen and (min-width: 1024px) {
            padding: 30px;
    }
}

a {
    button {
        p {
            color: #000005;
        }
    }
}

