/*NOSOTROS*/

.iframes-nos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-self: center;
    justify-items: center;
    align-items: center;
    padding: 50px 0 50px 0;
    @media screen and (min-width: 1024px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-self: center;
        justify-items: center;
        align-items: center;
        padding: 50px 0 50px 0;
    }
}

.iframes-nos__img1 {
    max-width: 100%;
}

img {
    max-width: 100%;
}

.offline {
    color: #33202A;
    :hover {
        color: #009186;
    }
}